<div data-region="answers">
    {{#hassubitems}}
        <ul class="list-unstyled">
            {{#answerContext.answers}}
                <li>
                    {{index}}. {{#givenAnswer}} {{{.}}} {{/givenAnswer}}
                    {{#correct}} {{#givenAnswer}} <i class="fa fa-check text-success"></i> <br> {{/givenAnswer}} <div class="minispeakresponse mb-2"> {{#str}} correctanswer, qtype_minispeak {{/str}} </div> {{/correct}}
                    {{^correct}} {{#givenAnswer}} <i class="fa fa-remove text-danger"></i> <br> {{/givenAnswer}} <div class="minispeakresponse mb-2"> {{#str}} incorrectanswer, qtype_minispeak {{/str}} </div> {{/correct}}
                    {{^correct}}
                        {{#correctAnswer}}
                            <p>{{#str}} correctansweris, qtype_minispeak, {{{.}}} {{/str}}</p>
                        {{/correctAnswer}}
                    {{/correct}}
                </li>
            {{/answerContext.answers}}
        </ul>
    {{/hassubitems}}
    {{^hassubitems}}
        {{#answerContext.answers.0}}
            {{#answerContext.choicetype}}
                <ul class="list-unstyled">
                    {{#choices}}
                        <li class="px-4 py-2 bg-white border round mb-1">
                            <div class="d-flex justify-content-between align-items-center">
                                {{{ text }}}
                                {{#selected}}
                                    {{#correct}}<i class="fa fa-check text-success"></i>{{/correct}}
                                    {{^correct}}<i class="fa fa-remove text-danger"></i>{{/correct}}
                                {{/selected}}
                            </div>
                        </li>
                    {{/choices}}
                <ul>
                {{^correct}}
                    {{#answerContext.correctAnswer}}
                        <p>{{#str}} correctansweris, qtype_minispeak, {{{.}}} {{/str}}</p>
                    {{/answerContext.correctAnswer}}
                {{/correct}}
            {{/answerContext.choicetype}}
            {{^answerContext.choicetype}}
                {{#givenAnswer}} {{{.}}} {{/givenAnswer}}
                {{#correct}} {{#givenAnswer}} <i class="fa fa-check text-success"></i> <br> {{/givenAnswer}} <div class="minispeakresponse mb-2"> {{#str}} correctanswer, qtype_minispeak {{/str}} </div> {{/correct}}
                {{^correct}} {{#givenAnswer}} <i class="fa fa-remove text-danger"></i> <br> {{/givenAnswer}} <div class="minispeakresponse mb-2"> {{#str}} incorrectanswer, qtype_minispeak {{/str}} </div> {{/correct}}
                {{^correct}}
                    {{#answerContext.correctAnswer}}
                        <p>{{#str}} correctansweris, qtype_minispeak, {{{.}}} {{/str}}</p>
                    {{/answerContext.correctAnswer}}
                {{/correct}}
            {{/answerContext.choicetype}}
        {{/answerContext.answers.0}}
    {{/hassubitems}}
</div>