 {{#sentences}}
     <div class="row mcplayrow no-gutters">
         <div class="col-md-12 mcaudiotranscript_{{index}}">
             <div class="minispeak_mc_response {{rtl}}" data-index="{{indexplusone}}" id="{{uniqueid}}_option{{indexplusone}}" name="{{uniqueid}}_options" >
                 <span class="minispeak_sentence">{{prompt}}</span>
                 <span class="minispeak_mc_resultbox">
                 <i class="fa fa-check fa-lg minispeak_mc_right" style="display: none;"></i>
                 <i class="fa fa-times fa-lg minispeak_mc_wrong" style="display: none;"></i>
                 </span>
             </div>
         </div>
     </div>
 {{/sentences}}