{{> qtype_minispeak/questionheader}}
{{#locked}}
  {{>qtype_minispeak/answercard}}
{{/locked}}
{{^locked}}
    {{#sentences}}
        <div class="row mcplayrow no-gutters" id="{{uniqueid}}_option{{indexplusone}}">
            <div class="col-md-1 mcaudioplayer_{{indexplusone}}">
                <div class="mc_playbutton_container">
                    <button class="minispeak_mc_audioplayer mcplaytrigger btn btn-secondary" type="button" data-index="{{index}}" id="{{uniqueid}}_audioplayer{{indexplusone}}">
                        <i class="fa fa-play minispeak_mc_playstate"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-11 mcaudiotranscript_{{index}}">
                <div class="minispeak_mc_response" data-index="{{index}}" name="{{uniqueid}}_options" >
                    <span class="minispeak_sentence">{{prompt}}</span>
                    <span class="minispeak_mc_resultbox">
                    <i class="fa fa-check fa-lg minispeak_mc_right" style="display: none;"></i>
                    <i class="fa fa-times fa-lg minispeak_mc_wrong" style="display: none;"></i>
                    </span>
                </div>
            </div>
        </div>
    {{/sentences}}

    {{> qtype_minispeak/ttrecorder}}
{{/locked}}
{{> qtype_minispeak/questionfooter}}