<div id="{{uniqueid}}_container" class="minispeak_questioncontainer" style="display: none">
  {{> qtype_minispeak/quiz_progress}}
  <audio id="{{uniqueid}}_player"></audio>
  <!-- @@CLOUDPOODLLTOKEN@@ -->
  <!-- title + instructions -->
    {{#title}}<div class="minispeak_questionheader"><b>{{#str}}d_question, qtype_minispeak{{/str}} {{number}}: {{{title}}}</b></div>{{/title}}
    <div class="qtype_minispeak_itemtext">{{{text}}}</div>
    <!-- Content -->
    {{> qtype_minispeak/questioncontent}}
