{{> qtype_minispeak/questionheader}}

<div id="{{uniqueid}}_correctanswer" class="qtype_minispeak_spokenandcorrect {{rtl}}" > ---- </div>
{{> qtype_minispeak/ttrecorder}}

{{> qtype_minispeak/questionfooter}}